body {
    background-color: rgb(196, 132, 212);
    font-family: 'Press Start 2P', cursive;
}
    
  


h1 { 
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: xx-large;
    padding-left: 50%;
    width: 200px;
    color:purple;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}

#text-1 {
    font-weight: 400;
    font-size:larger;
    text-align: right;
    width: 50%;
    line-height: 300%;
    color: purple;
 }

#article {
    font-weight: 400;
    font-size:larger;
    text-align: center;
    width: 50%;
    line-height: 300%;
    color: purple;
}


#ping-pong {
    margin-left: 100px
}
#arcade {
    margin: 0;
    
}

#text-2 {
    font-weight: 400;
    font-size:larger;
    text-align: left;
    width: 50%;
    line-height: 300%;
    color: purple;
}

#game-area {
    align-content: center;
    margin-left: 50%;
    margin-top: 50%;
}



