body {
    background-color: rgb(196, 132, 212);
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    margin: 3px;
    padding: 5px;
}
    
  


h1 { 
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 4 rem;
    text-align:center;
    width: 200px;
    color:purple;
}

h2, p {
    
    letter-spacing: 1em;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 10em;
    margin-right: 10em;
    color:purple;
    display: inline block;
    }

#ponggame {
    box-align: center;
}



